In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
test = pd.read_csv('test_fresh.xls')

In [5]:
test.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type
0,DRA59,CHUKWUDI010,DRA59_CHUKWUDI010,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,NaN,Cluster 3,Grocery Store
1,DRA59,CHUKWUDI013,DRA59_CHUKWUDI013,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,High,Cluster 3,Supermarket Type1
2,DRB01,CHUKWUDI013,DRB01_CHUKWUDI013,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,High,Cluster 3,Supermarket Type1
3,DRB13,CHUKWUDI010,DRB13_CHUKWUDI010,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,NaN,Cluster 3,Grocery Store
4,DRB13,CHUKWUDI013,DRB13_CHUKWUDI013,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,High,Cluster 3,Supermarket Type1

In [7]:
test.isnull().sum()

Product_Identifier                  0
Supermarket_Identifier              0
Product_Supermarket_Identifier      0
Product_Weight                    661
Product_Fat_Content                 0
Product_Shelf_Visibility            0
Product_Type                        0
Product_Price                       0
Supermarket_Opening_Year            0
Supermarket _Size                 959
Supermarket_Location_Type           0
Supermarket_Type                    0
dtype: int64

In [8]:
test['Product_Weight'].fillna(test.groupby('Product_Fat_Content')['Product_Weight'].transform('mean'), inplace = True)

In [9]:
test.isnull().sum()

Product_Identifier                  0
Supermarket_Identifier              0
Product_Supermarket_Identifier      0
Product_Weight                      0
Product_Fat_Content                 0
Product_Shelf_Visibility            0
Product_Type                        0
Product_Price                       0
Supermarket_Opening_Year            0
Supermarket _Size                 959
Supermarket_Location_Type           0
Supermarket_Type                    0
dtype: int64

In [10]:
test.drop(['Product_Identifier','Supermarket_Identifier','Product_Supermarket_Identifier','Product_Type','Supermarket _Size'], axis =1, inplace = True)

In [11]:
test.head()

,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket_Location_Type,Supermarket_Type
0,8.270,Normal Fat,0.214125,459.98,2005,Cluster 3,Grocery Store
1,8.270,Normal Fat,0.127821,464.98,1994,Cluster 3,Supermarket Type1
2,7.390,Low Fat,0.082171,477.38,1994,Cluster 3,Supermarket Type1
3,6.115,Normal Fat,0.011791,472.63,2005,Cluster 3,Grocery Store
4,6.115,Normal Fat,0.007038,473.13,1994,Cluster 3,Supermarket Type1

In [12]:
dum1 = pd.get_dummies(test['Product_Fat_Content'])

In [13]:
dum2 = pd.get_dummies(test['Supermarket_Location_Type'])

In [14]:
dum3 = pd.get_dummies(test['Supermarket_Type'])

In [16]:
test = pd.concat([test,dum1,dum2,dum3],axis  = 1)

In [17]:
test.head()

,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket_Location_Type,Supermarket_Type,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,Cluster 2,Cluster 3,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,8.270,Normal Fat,0.214125,459.98,2005,Cluster 3,Grocery Store,0,1,0,0,0,1,1,0,0,0
1,8.270,Normal Fat,0.127821,464.98,1994,Cluster 3,Supermarket Type1,0,1,0,0,0,1,0,1,0,0
2,7.390,Low Fat,0.082171,477.38,1994,Cluster 3,Supermarket Type1,1,0,0,0,0,1,0,1,0,0
3,6.115,Normal Fat,0.011791,472.63,2005,Cluster 3,Grocery Store,0,1,0,0,0,1,1,0,0,0
4,6.115,Normal Fat,0.007038,473.13,1994,Cluster 3,Supermarket Type1,0,1,0,0,0,1,0,1,0,0

In [19]:
test.drop(['Supermarket_Location_Type','Product_Fat_Content','Supermarket_Type'], axis =1, inplace = True)

In [20]:
test.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,Cluster 2,Cluster 3,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,8.270,0.214125,459.98,2005,0,1,0,0,0,1,1,0,0,0
1,8.270,0.127821,464.98,1994,0,1,0,0,0,1,0,1,0,0
2,7.390,0.082171,477.38,1994,1,0,0,0,0,1,0,1,0,0
3,6.115,0.011791,472.63,2005,0,1,0,0,0,1,1,0,0,0
4,6.115,0.007038,473.13,1994,0,1,0,0,0,1,0,1,0,0

In [21]:
test.to_csv('test_stop.xls')

In [22]:
test.drop('Supermarket_Opening_Year', axis =1, inplace = True)

In [23]:
test.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,Cluster 2,Cluster 3,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,8.270,0.214125,459.98,0,1,0,0,0,1,1,0,0,0
1,8.270,0.127821,464.98,0,1,0,0,0,1,0,1,0,0
2,7.390,0.082171,477.38,1,0,0,0,0,1,0,1,0,0
3,6.115,0.011791,472.63,0,1,0,0,0,1,1,0,0,0
4,6.115,0.007038,473.13,0,1,0,0,0,1,0,1,0,0

In [24]:
test.to_csv('first_t.xls',index =False)